node-red-data/.flows.json.backup
[{"id":"42712bc5.665edc","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"703c6901.5b4be","type":"tab","label":"フロー 2","disabled":false,"info":""},{"id":"d600b20d.2eda1","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"52af8cdc.4380b4","type":"mongodb","z":"","hostname":"mongodb","port":"27017","db":"test","name":""},{"id":"6b178948.ef7cc8","type":"websocket-listener","z":"","path":"ws://localhost:1880/ws","wholemsg":"false"},{"id":"763f2fec.d81738","type":"websocket-listener","z":"","path":"/ws","wholemsg":"false"},{"id":"8016f767.cde588","type":"mongodb out","z":"42712bc5.665edc","mongodb":"52af8cdc.4380b4","name":"","collection":"test_collection","payonly":false,"upsert":false,"multi":false,"operation":"store","x":654,"y":158,"wires":[]},{"id":"a38eb5e3.7a63b8","type":"inject","z":"42712bc5.665edc","name":"","topic":"","payload":"{\"type\":\"school\",\"number\":\"123-456-7700\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":133,"y":158,"wires":[["36c7174.fce2368"]]},{"id":"fe497352.94f2f8","type":"debug","z":"42712bc5.665edc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":618,"y":429,"wires":[]},{"id":"cf2f9b0c.f6e7d8","type":"mongodb in","z":"42712bc5.665edc","mongodb":"52af8cdc.4380b4","name":"","collection":"test_collection","operation":"find","x":318,"y":428,"wires":[["fe497352.94f2f8"]]},{"id":"36c7174.fce2368","type":"function","z":"42712bc5.665edc","name":"ReturnPayload","func":"return msg.payload;","outputs":1,"noerr":0,"x":369,"y":158,"wires":[["8016f767.cde588"]]},{"id":"4957218b.5f9b6","type":"inject","z":"42712bc5.665edc","name":"","topic":"","payload":"{\"type\":{\"$eq\":\"home\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":185,"y":302,"wires":[["cf2f9b0c.f6e7d8"]]},{"id":"7d3fcffc.4b4f58","type":"comment","z":"42712bc5.665edc","name":"mongoDB DEMO Data insert","info":"","x":158,"y":105,"wires":[]},{"id":"c8f9e3e6.7625","type":"comment","z":"42712bc5.665edc","name":"mongoDB DEMO Data find","info":"","x":148,"y":241,"wires":[]},{"id":"b0c8729e.e35e48","type":"inject","z":"42712bc5.665edc","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":136,"y":569,"wires":[["4590f7f6.d376c8"]]},{"id":"a10d0936.d9406","type":"inject","z":"42712bc5.665edc","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":136,"y":629,"wires":[["4590f7f6.d376c8"]]},{"id":"12dc3be0.706aec","type":"inject","z":"42712bc5.665edc","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135,"y":690,"wires":[["4590f7f6.d376c8"]]},{"id":"4590f7f6.d376c8","type":"websocket out","z":"42712bc5.665edc","name":"","server":"6b178948.ef7cc8","client":"","x":502,"y":627,"wires":[]},{"id":"334e0326.67de04","type":"websocket in","z":"42712bc5.665edc","name":"","server":"763f2fec.d81738","client":"","x":122,"y":750,"wires":[["3387345a.2077ec"]]},{"id":"3387345a.2077ec","type":"debug","z":"42712bc5.665edc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":453,"y":751,"wires":[]},{"id":"aaa95602.c03e18","type":"comment","z":"42712bc5.665edc","name":"WebSocket DEMO","info":"","x":127,"y":520,"wires":[]},{"id":"b2416f4b.cc14d8","type":"inject","z":"703c6901.5b4be","name":"","topic":"","payload":"{\"noisedata\":40,\"noiselevel\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":115,"y":61,"wires":[["36fa2091.90058"]]},{"id":"94fe1c85.ae2478","type":"inject","z":"703c6901.5b4be","name":"","topic":"","payload":"{\"noisedata\":60,\"noiselevel\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":116,"y":121,"wires":[["36fa2091.90058"]]},{"id":"88a03af6.e07c5","type":"inject","z":"703c6901.5b4be","name":"","topic":"","payload":"{\"noisedata\":80,\"noiselevel\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":116,"y":182,"wires":[["36fa2091.90058"]]},{"id":"36fa2091.90058","type":"json","z":"703c6901.5b4be","name":"DecodeJsonObject","property":"payload","action":"obj","pretty":false,"x":334,"y":121,"wires":[["12707975.20237f","430b0f6c.76917"]]},{"id":"430b0f6c.76917","type":"debug","z":"703c6901.5b4be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":588,"y":66,"wires":[]},{"id":"906bf485.11d92","type":"debug","z":"703c6901.5b4be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":646,"y":186,"wires":[]},{"id":"12707975.20237f","type":"function","z":"703c6901.5b4be","name":"","func":"msg.payload = msg.payload.noiselevel;\nreturn msg;","outputs":1,"noerr":0,"x":385,"y":222,"wires":[["906bf485.11d92"]]}]