node-red-data/flows.json
[{"id":"42712bc5.665edc","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"703c6901.5b4be","type":"tab","label":"フロー 2","disabled":false,"info":""},{"id":"d600b20d.2eda1","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"52af8cdc.4380b4","type":"mongodb","z":"","hostname":"mongodb","port":"27017","db":"noise","name":""},{"id":"336f57f.5751728","type":"websocket-listener","z":"","path":"/ws","wholemsg":"false"},{"id":"dd0879b6.1e0ba8","type":"websocket-listener","z":"","path":"/ws/noise-level","wholemsg":"false"},{"id":"8016f767.cde588","type":"mongodb out","z":"42712bc5.665edc","mongodb":"52af8cdc.4380b4","name":"","collection":"test_collection","payonly":false,"upsert":false,"multi":false,"operation":"store","x":654,"y":158,"wires":[]},{"id":"a38eb5e3.7a63b8","type":"inject","z":"42712bc5.665edc","name":"","topic":"","payload":"{\"type\":\"school\",\"number\":\"123-456-7700\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":133,"y":158,"wires":[["36c7174.fce2368"]]},{"id":"fe497352.94f2f8","type":"debug","z":"42712bc5.665edc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":618,"y":429,"wires":[]},{"id":"cf2f9b0c.f6e7d8","type":"mongodb in","z":"42712bc5.665edc","mongodb":"52af8cdc.4380b4","name":"","collection":"test_collection","operation":"find","x":318,"y":428,"wires":[["fe497352.94f2f8"]]},{"id":"36c7174.fce2368","type":"function","z":"42712bc5.665edc","name":"ReturnPayload","func":"return msg.payload;","outputs":1,"noerr":0,"x":369,"y":158,"wires":[["8016f767.cde588"]]},{"id":"4957218b.5f9b6","type":"inject","z":"42712bc5.665edc","name":"","topic":"","payload":"{\"type\":{\"$eq\":\"home\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":185,"y":302,"wires":[["cf2f9b0c.f6e7d8"]]},{"id":"7d3fcffc.4b4f58","type":"comment","z":"42712bc5.665edc","name":"mongoDB DEMO Data insert","info":"","x":158,"y":105,"wires":[]},{"id":"c8f9e3e6.7625","type":"comment","z":"42712bc5.665edc","name":"mongoDB DEMO Data find","info":"","x":148,"y":241,"wires":[]},{"id":"b0c8729e.e35e48","type":"inject","z":"42712bc5.665edc","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":136,"y":569,"wires":[["8c01db03.1c7dd"]]},{"id":"a10d0936.d9406","type":"inject","z":"42712bc5.665edc","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":136,"y":629,"wires":[["8c01db03.1c7dd"]]},{"id":"12dc3be0.706aec","type":"inject","z":"42712bc5.665edc","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135,"y":690,"wires":[["8c01db03.1c7dd"]]},{"id":"aaa95602.c03e18","type":"comment","z":"42712bc5.665edc","name":"WebSocket DEMO","info":"","x":127,"y":520,"wires":[]},{"id":"b2416f4b.cc14d8","type":"inject","z":"703c6901.5b4be","name":"","topic":"","payload":"{\"noisedata\":40,\"noiselevel\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":113,"y":205,"wires":[["36fa2091.90058"]]},{"id":"94fe1c85.ae2478","type":"inject","z":"703c6901.5b4be","name":"","topic":"","payload":"{\"noisedata\":60,\"noiselevel\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":114,"y":265,"wires":[["36fa2091.90058"]]},{"id":"88a03af6.e07c5","type":"inject","z":"703c6901.5b4be","name":"","topic":"","payload":"{\"noisedata\":80,\"noiselevel\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":114,"y":326,"wires":[["36fa2091.90058"]]},{"id":"36fa2091.90058","type":"json","z":"703c6901.5b4be","name":"DecodeJsonObject","property":"payload","action":"obj","pretty":false,"x":332,"y":265,"wires":[["12707975.20237f","3a2bd0fa.43a858"]]},{"id":"12707975.20237f","type":"function","z":"703c6901.5b4be","name":"DecodeWSData","func":"msg.payload = msg.payload.noiselevel;\nreturn msg;","outputs":1,"noerr":0,"x":362,"y":385,"wires":[["eb81ad8f.51273","f56bc457.edfd78"]]},{"id":"48b65192.b769f","type":"mongodb out","z":"703c6901.5b4be","mongodb":"52af8cdc.4380b4","name":"","collection":"noise_collection","payonly":false,"upsert":false,"multi":false,"operation":"store","x":714,"y":104,"wires":[]},{"id":"3a2bd0fa.43a858","type":"function","z":"703c6901.5b4be","name":"ConvertToDBFormat","func":"var newMsg = {\n    datetime: new Date(),\n    noisedata: msg.payload.noisedata,\n    noiselevel: msg.payload.noiselevel\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":383,"y":104,"wires":[["4e085db4.0e6104","48b65192.b769f"]]},{"id":"4e085db4.0e6104","type":"debug","z":"703c6901.5b4be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":609,"y":187,"wires":[]},{"id":"eb81ad8f.51273","type":"debug","z":"703c6901.5b4be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":631,"y":321,"wires":[]},{"id":"b5ec99ab.32c548","type":"http in","z":"703c6901.5b4be","name":"","url":"/past-noise","method":"get","upload":false,"swaggerDoc":"","x":139,"y":540,"wires":[["67322a32.218fec"]]},{"id":"ee482fab.8dd32","type":"mongodb in","z":"703c6901.5b4be","mongodb":"52af8cdc.4380b4","name":"","collection":"noise_collection","operation":"find","x":443,"y":638,"wires":[["ed508d4e.9e5e28","ae82211b.38106"]]},{"id":"a699df05.56a9c","type":"comment","z":"42712bc5.665edc","name":"","info":"","x":91,"y":842,"wires":[]},{"id":"c44e1ef9.92c9c","type":"http in","z":"42712bc5.665edc","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":122,"y":903,"wires":[["11215770.c099a9","ff571d67.427c98"]],"info":"/test?start-date=STARTDATE&end-date=ENDDATE"},{"id":"11215770.c099a9","type":"debug","z":"42712bc5.665edc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":240,"y":997,"wires":[]},{"id":"ff571d67.427c98","type":"function","z":"42712bc5.665edc","name":"ConvertToDBQuery","func":"var query = {\n    \"datetime\": {\n        \"$gte\": msg.payload.start,\n        \"$lte\": msg.payload.end\n    }\n}\nreturn query;","outputs":1,"noerr":0,"x":350,"y":903,"wires":[["52b46e99.710db"]]},{"id":"52b46e99.710db","type":"debug","z":"42712bc5.665edc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":471,"y":1000,"wires":[]},{"id":"67322a32.218fec","type":"function","z":"703c6901.5b4be","name":"ConvertToQuery","func":"msg.sort = {_id: -1}\nmsg.limit = 10\nreturn msg;","outputs":1,"noerr":0,"x":366,"y":540,"wires":[["ee482fab.8dd32"]]},{"id":"ed508d4e.9e5e28","type":"debug","z":"703c6901.5b4be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":749,"y":547,"wires":[]},{"id":"ae82211b.38106","type":"http response","z":"703c6901.5b4be","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":745,"y":638,"wires":[]},{"id":"8c01db03.1c7dd","type":"websocket out","z":"42712bc5.665edc","name":"","server":"336f57f.5751728","client":"","x":570,"y":633.6363636363636,"wires":[]},{"id":"f56bc457.edfd78","type":"websocket out","z":"703c6901.5b4be","name":"","server":"dd0879b6.1e0ba8","client":"","x":648.1818237304688,"y":382.7272644042969,"wires":[]}]